body{
    background:url(infoback.jpg);
}
.topblock{
    background-color:rgb(230, 140, 104);
    margin-top:60px;
    margin-left:60px;
    padding:14px;
    height:180px;
}
.topblock:hover{
    box-shadow:20px 20px 20px 20px;
    cursor:alias;
}
.heading{  
    color:black; 
    text-align:center;
    font-size: 28px;
}
.heading:hover{
    box-shadow:10px 10px 10px 10px;
    cursor:alias;
}
.data{
    font-size: 18px;
    font-style: italic;
}

.middleblock{
    background-color:rgb(230, 140, 104);
    margin-top:10px;
    margin-left:440px;
    padding:14px;
    height:180px;
}
.middleblock:hover{
    box-shadow:20px 20px 20px 20px;
    cursor:alias;
}
.bottomblock{
    background-color:rgb(230, 140, 104);
    margin-top:10px;
    margin-left:840px;
    padding:14px;
    height:180px;
}
.bottomblock:hover{
    box-shadow:20px 20px 20px 20px;
    cursor:alias;
}