<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">


<hibernate-configuration>
   <session-factory>
    <property name="hibernate.connection.driver"> com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.url"> jdbc:mysql://localhost:3306/DAY12</property>
     <property name="hibernate.connection.user">root</property>
    <property name="hibernate.connection.password">edac20</property>
   
    <property name="hibernate.connection.dialect">org.hibernate.dialect</property>
     <property name="hibernate.hbm2ddl.auto">update</property>
     
     <mapping class="in.edac.Student"/>
     <mapping class="in.edac.Person"/>
     <mapping class="in.edac.User"/>
     
   </session-factory>



</hibernate-configuration>